body{
  background-color: #1ABC9C;
}

.logo{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 40%;
}
.navbar-menu{
  font-family: 'Boogaloo', cursive;
}
a{
  color: white;
  font-size: 2em;
}
span{
  background-color: white;
}
.title{
  font-size: 2em;
}
.mes{
  border-radius: 15px;
  border-color: white;
  background-color: white;
  width: 90%;
  margin: 40px 5%;
  text-align: center;
  padding-bottom: 10px;
}
.dias{ 
border-radius: 5px;
border-color: white;
background-color: #1ABC9C;
margin: 0 4px 10px;
width: 30px;
display: inline-block;
}
h3{
  border-bottom: 2px solid black;
}