.home{
  background-image: url('./img/gol3.jpg');
  background: cover;
  font-family: 'Boogaloo', cursive;
}
.sandwish{
  background-color: rgba(13, 1, 27, 0.94);
}
#logout-form{
  display: none;
}
.logo {
  height: 200px;
  width: 60%;
  border: 10px solid rgba(218, 212, 201, 0.56);
  border-radius: 50%;
}

a{
  color: white;
  font-size: 2em;
}
.title{
  font-size: 2em;
}
.mes{
  border-radius: 15px;
  border-color: white;
  background-color: white;
  width: 90%;
  margin: 5% 5%;
  text-align: center;
  padding-bottom: 10px;
}
.dias {
  border-radius: 5px;
  text-align: center;
  background-color: rgb(122, 193, 31);
  padding: 1%;
  margin: 1%;
  width: 30px;
  height: 30px;
}
#span{
  color: #fff;
  font-size: 1.2em;
}

.news{
  width: 90%;
  margin: 0 auto;
  background-color: #f2ff00;
  padding: 8px; 
  font-weight: bold;
}
.noty{
  width: 50px;
}
  .navbar-menu{
    font-family: 'Boogaloo', cursive;
  }
  .navbar-menu span{
    background-color: #fff;
    color: #fff !important;
  }
  .color{
    background-color: blue;
  }