body{	
    background: -webkit-radial-gradient(#FAC104, #F04F05);
}
.login{
    font-family: 'Boogaloo', cursive;
	color: #EEE6E6;
}
.buscador{
    margin: 5%;
}
#ayuda{
	margin-top: 20px;
	font-size: 30px;
	float: right;
}
.bebe-logo{
    margin-top: 50px;
    width: 60%;
    border: 10px solid rgba(218, 212, 201, 0.56);
    border-radius: 50%;
}
.letra-3{
	margin-top: 50px;
}
.hr {
    width: 10%0;
    height: 2px;
    border: none;
    border-radius: 2px;
    background-color: rgba(231, 223, 219, 0.3);
}
.iniciar {
    font-weight: inherit;
	margin: 5%;
}

#input-1 {
    height: 40px;
    border-radius: 3px;
}

#button {
    padding: 3% 8%;
    background-color: rgba(22, 187, 65, 0.79);
    color: #f1eaea;
    border: none;
    padding: 3% 10%;
    margin: 10% 10%;
}

.valida{
    font-family: sans-serif !important;
}
