
  .recort {
    background-color: black;
    border: 1px solid rgba(208, 64, 123, 0);
}
  .logo{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 40%;
  }
  .navbar-menu{
    font-family: 'Boogaloo', cursive;
  }
  a{
    color: white;
    font-size: 2em;
    text-decoration: none;
    font-family: sans-serif;
  }
  span{
    background-color: white;
  }
  .title{
    font-size: 2em;
  }
  /* // notificaciones imagen */
  .imgbb{
      width: 150px;
      border-radius: 50%;
  }