
.navbar {
  background-color: black;
  border: 1px solid transparent;
  color: white;
}
.noty {
	margin-top: 20%;
	width: 70px;
	border-radius: 50%;
	/* padding: 5%; */
}
.green{
	background-color: #1A9102 !important;
}
.orange{
	background-color: #EC700B !important;
}
.danger{
	background-color: #C70303 !important;
}
