.welcome{
    background-image: url('./img/gol3.jpg');
    background: cover;
    font-family: 'Boogaloo', cursive;
}
h1{
    font-weight: 900;
    text-align: center;
    color: white;
}
.bbgorrita{
    width: 250px;
    border-radius: 50%;
    border: 8px solid rgba(208, 205, 205, 0.55);
    text-align: center;
    margin-bottom: 5%;
}
.bbinput{
    height: 30%;
    padding: 4%;
}
.checkbb{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10% 1%;
}
.bbbtn {
    text-decoration: none;
    padding: 3% 7%;
    color: #fff;
    background-color: #545350;
    border-color: #585653;
}
.textobb {
    padding: 5% 5%;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgba(226, 222, 222, 0.58);
}
.next{
    margin: 30px;
}
.direction{
    border-radius:50%; 
    background-color: rgba(226, 222, 222, 0.58);
}
